<% if flash[:notice] %>
    <p>
        <%= flash[:notice] %>
    </p>
<% end %>

ログイン中です！
<%= link_to 'ログアウト', top_logout_path %>
<br>
<% @tweet.each do |tweet| %>
    <p>
        <%= tweet.message %>
        <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
    </p>
<% end %>

<%= link_to 'ツイートする', new_tweet_path %>

